<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">Vacation Planner</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a id='trip' class="nav-link" href="/"> Current Trip Planner  </a>
            <a id='dest' class="nav-link" href="/destination"> Current Destination Planner  </a>
            <a id='ctrip' class="nav-link" href="/createtrip"> Create New Trip </a>
            <a id='createdestiination' class="nav-link" href="/createdestination">  Create New Destination  </a>
        </nav>
    </div>
</header>
